
<div *ngIf="orderItems">
    <h2><span jhiTranslate="jhipsterApp.orderItems.detail.title">Order Items</span> {{orderItems.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.orderItems.unitPrice">Unit Price</span></dt>
        <dd>
            <span>{{orderItems.unitPrice}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.orderItems.quantity">Quantity</span></dt>
        <dd>
            <span>{{orderItems.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.orderItems.orders">Orders</span></dt>
        <dd>
            <div *ngIf="orderItems.orders">
                <a [routerLink]="['/orders', orderItems.orders?.id]">{{orderItems.orders?.orderCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.orderItems.product">Product</span></dt>
        <dd>
            <div *ngIf="orderItems.product">
                <a [routerLink]="['/product', orderItems.product?.id]">{{orderItems.product?.productName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-items/'+ orderItems.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
