<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderItemsLabel" jhiTranslate="jhipsterApp.orderItems.home.createOrEditLabel">Create or edit a Order Items</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!orderItems.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="orderItems.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.orderItems.unitPrice" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                [(ngModel)]="orderItems.unitPrice" required />
            <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.unitPrice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.unitPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.orderItems.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="orderItems.quantity" required />
            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="jhipsterApp.orderItems.orders" for="field_orders">Orders</label>
            <select class="form-control" id="field_orders" name="orders" [(ngModel)]="orderItems.orders" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ordersOption.id === orderItems.orders?.id ? orderItems.orders : ordersOption" *ngFor="let ordersOption of orders; trackBy: trackOrdersById">{{ordersOption.orderCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jhipsterApp.orderItems.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="orderItems.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === orderItems.product?.id ? orderItems.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.productName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
