<div class="row">
    <div class="col-md-9" style="border:red 1px solid">
        <div class="table-responsive" *ngIf="products">
            <div class="row">
                <ul *ngFor="let product of products ;trackBy: trackId" [routerLink]="['../product', product.id ]" class="col-md-4">
                    <li>{{product.productName}}</li>
                    <li>{{product.productDesc}}</li>
                    <li>{{product.price}}</li>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../product', product.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="border:blue 1px solid">
        카트 영역
    </div>
</div>
