
<div *ngIf="product">
    <h2><span jhiTranslate="jhipsterApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.product.productName">Product Name</span></dt>
        <dd>
            <span>{{product.productName}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.product.productDesc">Product Desc</span></dt>
        <dd>
            <span>{{product.productDesc}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.product.price">Price</span></dt>
        <dd>
            <span>{{product.price}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.product.tag">Tag</span></dt>
        <dd>
            <span *ngFor="let tag of product.tags; let last = last">
                <a [routerLink]="['/tag', tag?.id ]">{{tag.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
